$icomoon-font-path: "../fonts" !default;

$icon-connection: "\e90f";
$icon-code: "\e910";
$icon-feed: "\e911";
$icon-checkmark: "\e900";
$icon-user: "\e901";
$icon-envelope: "\e902";
$icon-search: "\e903";
$icon-close: "\e904";
$icon-play: "\e905";
$icon-facebook: "\e906";
$icon-github: "\e907";
$icon-linkedin: "\e908";
$icon-twitter: "\e909";
$icon-youtube: "\e90a";
$icon-chevron-east: "\e90b";
$icon-chevron-north: "\e90c";
$icon-chevron-south: "\e90d";
$icon-chevron-west: "\e90e";



