<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<meta name="HandheldFriendly" content="True">
<meta name="MobileOptimized" content="320">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="cleartype" content="on">
<title>{{ title }}</title>
<meta name="description" content="{{ description }}">
<meta name="google-site-verification" content="{{ google.verify }}">
<meta name="msvalidate.01" content="{{ bing.verify }}">
<link rel="shortcut icon" href="/assets/images/site-images/favicon.ico">

<!-- Twitter Cards -->
<meta name="twitter:card" content="summary">
<meta name="twitter:site" content="{{ twitter }}">
<meta name="twitter:title" content="{{ title }}">
<meta name="twitter:description" content="{{ description }}">
<meta name="twitter:creator" content="{{ twitter }}">
<meta name="twitter:image" content="">

<!-- Open Graph -->
<meta property="og:locale" content="{{ locale }}">
<meta property="og:type" content="article">
<meta property="og:title" content="{{ title }}">
<meta property="og:description" content="{{ description }}">
<meta property="og:url" content="{{ url }}">
<meta property="og:site_name" content="{{ title }}">
<meta property="og:image" content="">

<!-- Schema.org -->
<meta itemprop=”name” content="{{ title }}">
<meta itemprop=”description” content="{{ description }}">

<link href="https://fonts.googleapis.com/css?family=Montserrat|Roboto" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="/assets/styles/main.css">

