<header class="page-header clearfix">
    <div class="container clearfix">
        <span class="main-logo" >{{ logo_text }}</span>
        <a class="hamburger" href="#"><span></span></a>
        <nav class="main-navigation  clearfix">
            <ul class="main-menu list-unstyled">
                <li><a href="#artwork">Artwork</a></li>
                <li><a href="#about">About</a></li>
                <li><a href="#contact">Contact</a></li>
            </ul>
        </nav>
    </div>
</header>
