---
title: Werner Glinka Art
locale: en_US
url: http://www.wernerglinka.com
description: Werner Glinka is a mixed media artist who lives in Minneapolis, Minnesota.
name: wernerglinka
email: wg@wernerglinka.comcom
twitter: "wernerglinka"
facebook: "facebookname"
google:
    analytics: UA-12345678-9
    verify: 1234567890
bing:
    verify: 1234567890
github: Sitename
linkedin: sitename

top_message:
logo_text: Werner Glinka
footer_background_image:
---

<!doctype html>
<html lang="en" itemscope itemtype=”http://schema.org/Article”>
  <head>
    {% include "head.html" %}
  </head>

  <body>
    {% include "browser-upgrade.html" %}

    {% if top_message %}
        {% include "top-message.html" %}
    {% endif %}

    {% include "header.html" %}

    <div class="content-wrapper">

        <ul class="main-slides">
            <li><img src="/assets/images/header/header4.jpg"></li>
            <li class="title"><h1>Assemblage Redux</h1></li>
        </ul>

        <section id="artwork" class="section-container block-container">
            <h1>Artwork</h1>
            <div class="series-container">
                <ul class="series-artwork">
                    <li><img src="/assets/images/art/rust/2008.01.001.jpg" alt="" /></li>
                    <li><img src="/assets/images/art/rust/2008.02.002.jpg" alt="" /></li>
                    <li><img src="/assets/images/art/rust/2008.02.003.jpg" alt="" /></li>
                    <li><img src="/assets/images/art/rust/2008.02.004.jpg" alt="" /></li>
                </ul>
                <div class="series-description">
                    <h2>Rust Geometries</h2>
                    <p>I grew up in Germany's Ruhr Valley - the valley of coal and steel - an industrial landscape bordered by the river Ruhr.  The winding towers of the local coal mines and the industrial buildings of the steel mills informed my esthetic sensibilities and left a lasting impression. Rust reminds me of home, it comforts me. I appreciate its color, its changing texture. It reminds me that time paints a patina that softens and obscures, and changes everything.</p>

                    <p>In this series of mixed media paintings, I explore familiar symbols and structures - the interplay of space and form. The rusted metal, the simple geometries reach back into my technical, industrial past. The rust and its surface texture enriches the minimalist geometric shapes. The composition creates a balance between the stark geometric structures and the unpredictable patterns of oxidized metal.</p>
                </div>
            </div>

            <div class="series-container">
                <ul class="series-artwork has-border">
                    <li><img src="/assets/images/art/misc/2008.06.002.jpg" alt="" /></li>
                </ul>
                <div class="series-description">
                    <h2>Between Two Worlds</h2>
                    <p>This sculpture evolved from my Urban Totem series.  The dualistic perception of the female body would make it easy to conjure the old angel vs. whore stereotype. But that is not what I intended to present. For one, I reject it. Rather, I see this sculpture as a metaphor for the dual existence that many of us live. In my specific case the subject of a dual existence has been with me ever since I immigrated to California.</p>
                </div>
            </div>

            <div class="series-container">
                <ul class="series-artwork">
                    <li><img src="/assets/images/art/change-context/2007.01.001.jpg" alt="" /></li>
                    <li><img src="/assets/images/art/change-context/2008.06.001.jpg" alt="" /></li>
                    <li><img src="/assets/images/art/change-context/2008.12.002.jpg" alt="" /></li>
                    <li><img src="/assets/images/art/change-context/2008.02.004.jpg" alt="" /></li>
                </ul>
                <div class="series-description">
                    <h2>Change of Context</h2>
                    <p>Rusty metal bands, salvaged electrical insulators, decaying metal fences, these are the materials that I use to create my wall sculptures. The objects are born in my imagination - inspired by the carcass of a boat in Princeton Harbor or the rusted wheel of an old mining winding tower in my hometown. They are created using found, salvaged, scavenged, and repurposed materials. Cast-off materials are abundant in my surroundings. Our society is built on consumption supplying a wealth of discarded materials to chose from. The rusted metal, the discarded electrical porcelain insulators, the simple geometries reach back into my technical, industrial past. I use light, or rather, its effects to add an additional dimension. Many of my pieces change character depending on how they are illuminated.</p>
                </div>
            </div>

            <div class="series-container">
                <ul class="series-artwork has-border">
                    <li><img src="/assets/images/art/urban-totems/2005.01.001.jpg" alt="" /></li>
                    <li><img src="/assets/images/art/urban-totems/2005.01.003.jpg" alt="" /></li>
                    <li><img src="/assets/images/art/urban-totems/2005.01.004.jpg" alt="" /></li>
                    <li><img src="/assets/images/art/urban-totems/2005.06.005.jpg" alt="" /></li>
                    <li><img src="/assets/images/art/urban-totems/2005.06.008.jpg" alt="" /></li>
                    <li><img src="/assets/images/art/urban-totems/2005.07.006.jpg" alt="" /></li>
                </ul>
                <div class="series-description">
                    <h2>Urban Totems</h2>
                    <p class="attribution">By Frank Priscaro</p>
                    <p>Werner Glinka works in at least three dimensions. With “Urban Totems,” his pieces create strong spaces in the physical world, certainly, but they also invoke other, less tangible realms as well. While exploring the dimensionality of surface and shape, Glinka’s work holds the door open for symbol, emotion, culture, sex and spirituality. Some pieces recall Asian influences. Others reference more primitive, native cultures. Still others have the dimension of prayer, or architecture, or magic. All are more than they appear.</p>
                </div>
            </div>
        </section>

        <section id="about" class="section-container">
            <h1>About</h1>
            <div class="about-container">
                <div class="about-description">
                    <img src="/assets/images/site-images/about.jpg" alt="" />
                    <p>Werner Glinka is a mixed media artist who lives in Minneapolis, Minnesota. He was born and raised in Gelsenkirchen, Germany an industrial town of coal mines and steel plants. There he was educated as an electrical engineer.</p>

                    <p>He came to California in 1981 to work in Silicon Valley where he enjoyed a successful career as an engineering and marketing executive. After he moved to the Santa Cruz Mountains, he developed his unique style of assemblage combining the influences of the sleek, steel-and-glass modernism of the Bauhaus movement with the simple, functional grace of Japanese landscapes.</p>

                    <p>Driven by instinct, and informed by a highly developed minimalist aesthetic sense of balance and proportion, Glinka’s work is simplicity itself. But simplicity is never simple. Even his materials carry emotional weight: barbed wire, ash, and pearls. He has always found inspiration at the intersection of man and nature, and the interaction and juxtaposition of the two.</p>

                    <p>Glinka explains that the triggers for this work are as diverse as the work itself, and range from something as ordinary and invisible as an asphalt-filled crack in the street, to the in-your-face complexity and near-chaos of New York City. Like an antenna picking up the news we deem important about why and how we are here, he processes these signals and sends them back out into the world, fulfilling his artist’s role as a feedback loop in an intelligent system.</p>

                    <p>Glinka does not title these works, lest he add his own layer of interpretation where none is required. “Once it’s on the wall,” he maintains, “my work is done.” In doing so, he honors the vantage point from which each individual sees his work, while simultaneously creating space for each reaction.</p>

                    <p>Glinka has shown his work throughout the San Francisco Bay Area, including the Peninsula Museum of Art, the Mountain View Center for the Performing Arts, the AVArtfest at the Triton Museum, d.p. Fong Gallery, Crockett Contemporary Art, the 1870 Art Center, the Oliver Hyde Gallery, 1212 Gallery in Burlingame and the Fingerhut Gallery in Sausalito. His artwork is owned by private collectors in the US, Japan and Europe.</p>
                </div>
            </div>
        </section>

        <section id="contact" class="section-container contact-container">
            <h1>Contact</h1>
            <ul>
                <li>650.867.0778</li>
                <li>wg@wernerglinka.com</li>
            </ul>
        </section>

    </div>

    {% block footer %}
        {% include "footer.html" %}
    {% endblock %}

    {% block to_top %}
        <div id="toTop"><i class="icon icon-chevron-north"></i></div>
    {% endblock %}

    {% block body_scripts %}
        {% include "scripts.html" %}
    {% endblock %}

  </body>
</html>