.section-container {
    h1 {
        text-align: center;
        color: $section-header-color;
        font-size: 36px;
        padding: 40px 0;

        &:before,
        &:after {
            content: "/";
            font-size: bold;
            padding: 0 20px;
            color: red;
        }
    }
}


.block-container {
    padding-bottom: 100px;
}


.series-container {
    width: 1000px;
    min-height: 500px;
    margin: 0 auto;
    display: flex;

    @media (max-width: 1000px) {
        width: 100%;
        margin-bottom: 50px;
    }

    @media (max-width: 600px) {
        display: block;
        min-height: 0;
    }

    &:first-of-type {
        margin-top: 50px;
    }

    > * {
        width: 50%;
        overflow: hidden;

        @media (max-width: 600px) {
            width: 100%;
        }
    }
}

.series-container:nth-child(even) {
    .series-artwork {
        order: 2
    }
}

.series-description {
    padding: 30px;

    @media (max-width: 1000px) {
        padding-top: 0;

        h2 {
            margin-top: 0;
        }
    }
}


.series-artwork {
    position: relative;

    @media (max-width: 600px) {
        width: 80vw;
        height: 80vw;
        margin: 0 auto 30px;

        &.has-border {
            border: none;
        }
    }

    li {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
        opacity: 0;

        &:first-child {
            opacity: 1;
        }
    }
}


.about-container {
    max-width: 1600px;
    margin: 0 auto;
    padding-bottom: 100px;

    .about-description {
        padding: 30px;

        img {
            float: right;
            margin: 0 0 30px 50px;

            @media (max-width: 1000px) {
                width: 50%;
            }
            @media (max-width: 1000px) {
                width: 50%;
                margin: 0 auto 50px;
                display: block;
                float: none;
            }
            @media (max-width: 600px) {
                width: 80vw;
            }
        }

        p:first-of-type {
            margin-top: 0;
        }
    }
}

.contact-container {
    height: 300px;
    background-image: url('/assets/images/site-images/contact-bg.jpg');
    background-position: 50% 50%;
    text-align: center;
    color: $light-text-color;
    line-height: 1.5;

    h1 {
        color: $light-text-color;
    }
}