header {
    position: fixed;
    top: 0;
    z-index: 1000;
    width: 100%;
    height: $header-height;
    background-color: $header-bg-color;
    transition: background-color 0.5s;
}

.main-logo {
    float: left;
    line-height: $header-height;
    font-family: $title-font-family;
    font-size: 32px;
    color: $light-text-color;

    @media (max-width: 375px) {
        font-size: 24px;
    }
}

.top-message + header {
    position: absolute;
    top: $top-message-height;

    &.isFixed {
        position: fixed;
        top: 0;
        z-index: 1000;
    }
}

.main-navigation {
    position: fixed;
    top: $header-height;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 1000;
    background-color: $header-bg-color;
    margin: 0 0;
    display: none;

    .main-menu {
        padding: 40px;
        margin-top: 60px;
        transition: margin 1s;

        > li {

            a, span {
                display: block;
                font-size: 1.5em;
                line-height: 5em;
                color: $default-link-color;
                text-align: center;

                &:hover {
                    cursor: pointer;

                }
            }
        }

        .dropdown-menu {
            position: static;
            float: none;
            border: none;
            padding-bottom: 20px;
            background: none;

            a {
                font-size: 1.14286em; //~16px
                line-height: 3em;
                color: $default-link-color;
                padding-left: 60px;
            }
        }
    }

    li {
        display: block;

         &.has-bottom-border {
            border-bottom: 1px solid $default-link-color;
        }
    }
}

.top-message + header .main-navigation {
    top: 150px;
}

.navActive {
    .main-navigation {

        .main-menu {

            > li {

                > a .icon,
                > span .icon {
                    font-size: 18px;
                    line-height: 34px;

                    &.icon-chevron-south,
                    &.icon-chevron-east {
                        display: inline-block;
                    }

                    &.icon-chevron-north {
                        display: none;
                    }
                }

                &.stayOpen > a,
                &.stayOpen > span {
                    .icon.icon-chevron-south {
                        display: none;
                    }
                    .icon.icon-chevron-north {
                        display: inline-block;
                    }
                }
            }
        }
    }
}

// the hamburger button
.hamburger {
    position: relative;
    top: 20px;
    float: right;
    width: 35px;
    height: 35px;
    cursor: pointer;
    background: none;
    border: none;


    &:focus {
        outline: 0;
    }

    span,
    span:before,
    span:after {
        cursor: pointer;
        border-radius: 1px;
        height: 3px;
        width: 35px;
        background: white;
        position: absolute;
        top: 15px;
        display: block;
        content: '';
        transition: all 500ms ease-in-out;
    }
    span:before {
        top: -10px;
    }
    span:after {
        top: auto;
        bottom: -10px;
    }
    &:hover {
        span,
        span:before,
        span:after {
            background: $default-hover-color;
        }
    }
}
.navActive .hamburger {

    span {
        background-color: transparent;
    }
    span:before,
    span:after {
        top: 0;
    }
    span:before {
        transform: rotate(45deg);
    }
    span:after {
        transform: rotate(-45deg);
    }
    &:hover {
        span:before,
        span:after {
            background: $default-hover-color;
        }
    }
}