.main-slides {
    height: 100vh;
    width: 100vw;
    position: relative;

    > li {
        position: absolute;
        top: 0;
        left: 0;
        z-index:   1;
        width: 100%;
        height: 100%;

        &.title {
            z-index: 2;
            top: 40%;

            h1 {
                max-width: $max-page-width;
                margin: 0 auto;
                padding: 0 30px;
                text-align: right;
                color: $light-text-color;
                font-size: 5vw;

                @media (max-width: 1250px) {
                    font-size: 6vw;
                }

                @media (max-width: 1000px) {
                    font-size: 7vw;
                }

                @media (max-width: 600px) {
                    font-size: 8vw;
                }

            }
        }

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}

