#toTop {
    display: block;
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1000;
    transition: all .5s ease 0s;
    cursor: pointer;
    width: 60px;
    height: 60px;
    border: 1px solid #ccc;
    line-height: 60px;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.8);
    color: $default-link-color;
}